{{page-title "Subscriptions"}}
<div class="subscriptions">
    <div class="subscriptions-left">
        <div class="designer-line">
        <h1>Your Subscriptions</h1>
    </div>
    <div class="subscriptions-list">
        {{!-- {{#each this.model as |subscription|}}
            <div class="subscription-card">
                <h2>{{subscription.subscriptionName}}</h2>
                <p>Price: ${{subscription.subscriptionPrice}}</p>
                <p>Status: {{if subscription.subscriptionStatus "Active" "Inactive"}}</p>
                
            </div>
        {{/each}} --}}
        <div class="table-top">
            <input type="text" name="searchSubscription" id="search" placeholder="Search for a subscription"/>
        <button type="submit" {{on "click" this.addSubscriptionForm}}>Add Subscription</button>
        </div>

        {{!-- <table>
            <thead>
                <tr>
                    <th>Subscription Name</th>
                    <th>Price</th>
                    <th>subscription Plan</th>
                    <th>Status</th>
                    <th>Billing Cycle</th>
                    <th>Payment Method</th>
                    <th>Start Date</th>
                    <th>End Date</th> 
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.data as |subscription|}}
                    {{#if subscription}}
                    <tr>
                        <td>{{subscription.subscriptionName}}</td>
                        <td>${{subscription.subscriptionPrice}}</td>
                        <td>{{subscription.subscriptionPlan}}</td>
                        <td>{{subscription.subscriptionStatus}}</td>
                        <td>{{subscription.billingCycle}}</td>
                        <td>{{subscription.paymentMethod}}</td>
                        <td>{{subscription.subscriptionStartDate}}</td>
                        <td>{{subscription.subscriptionEndDate}}</td>
                        <td><i class="fa-solid fa-pen-to-square" {{on "click" (fn this.editButtonClicked subscription.id)}}></i><i class="fa-solid fa-trash" {{on "click" (fn this.deleteButtonClicked subscription.id)}}></i></td>
                        
                    </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table> --}}
           
            <div class="cards-container">
                <div class="subscriptions-cards">
        {{!-- {{#if (gt this.data.length 1)}} --}}
        {{#if this.digiwallet.data}}
            {{#each this.digiwallet.data as |subscription|}}
                {{#if subscription}}
                <div class="subscription-card">
                    <div class="card-top">
                        
                        <div class="plan-status {{if (eq subscription.subscriptionStatus 'active') 'active-status'}}">
                            
                            <p>{{subscription.subscriptionStatus}}</p>
                        </div>
                    </div>
                    
                    <div class="card-right">
                        <div class="logo-text">
                            <div class="logo-img">
                                <img src="assets/images/{{subscription.subscriptionType}}.png" alt="logo">
                            </div>
                        <h2>{{subscription.subscriptionName}}</h2>
                        </div>
                        <div class="sub-notes">
                            <p>Plan: {{subscription.subscriptionPlan}}</p>
                            <p>Plan type: {{subscription.billingCycle}}</p>
                            
                        </div>
                        <div class="card-price">
                            <h3>${{subscription.subscriptionPrice}} <span>/ {{subscription.billingCycle}}</span></h3>
                            <h3>
                                <span> <i class="fa-solid fa-wallet"></i> : </span> 
                                {{subscription.paymentMethod}}
                            </h3>
                            
                        </div>

                        
                    <div class="card-button">
                        {{#if (eq subscription.subscriptionStatus "active")}}
                        <button type="button" {{on "click" (fn this.editButtonClicked subscription.id)}}><i class="fa-solid fa-pen"></i>Edit</button>
                        {{/if}}
                        {{#if (eq subscription.subscriptionStatus "active")}}
                        <button type="button" {{on "click" (fn this.deleteButtonClicked subscription.id)}}><i class="fa-solid fa-eraser"></i>Disable</button>
                        {{/if}}
                        {{#if (eq subscription.subscriptionStatus "cancelled")}}
                        <button type="button" {{on "click" (fn this.deleteButtonClicked subscription.id)}}><i class="fa-solid fa-circle-check"></i> Activate</button>
                        {{/if}}

                        {{#if (eq subscription.subscriptionStatus "cancelled")}}
                        <button type="button" {{on "click" (fn this.permanentDeleteButtonClicked subscription.id)}}><i class="fa-solid fa-trash"></i>Delete</button>
                        {{/if}}
                    </div>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        {{else}}
            <p>no subscriptions available</p>
        {{/if}}
    
           </div>
            </div>
    </div>


    </div>

    <div class="subscriptions-right">
        
    </div>
</div>

{{#if this.editSubscription}}

<div class="edit-subscription">
        <div class="edit-subscription-form" {{on-click-outside this.closeEditSubscription}}>
            <h1>Edit Subscription</h1>
            <form action="">
            <div class="subscription-group form-group">
                <div>
                    <label for="subscriptionName">Subscription Name : </label>
                <input type="text" id="subscriptionName" name="subscriptionName" value={{this.subscriptionName}} required {{on "input" this.updateSubscriptionName}}>
                </div>
                <div>
                    <label for="subscriptionPrice">Subscription Price</label>
                <input type="number" id="subscriptionPrice" name="subscriptionPrice" value={{this.subscriptionPrice}} required {{on "input" this.updateSubscriptionPrice}}>
                </div>

                
            </div>
            
            
            <div class="subscription-group form-group">
                
                <div>
                    <label for="subscriptionPlan">Subscription Plan</label>
                <select id="subscriptionPlan" name="subscriptionPlan" required {{on "input" this.updateSubscriptionPlan}}>
                    <option value="">Choose</option>
                    <option value="basic">Basic</option>
                    <option value="pro">Pro</option>
                    <option value="pro +">Pro +</option>
                </select>
                </div>

                <div>
                    <label for="billingCycle">Billing Cycle</label>
                <select id="billingCycle" name="billingCycle" required {{on "input" this.updateBillingCycle}}>
                    <option value="">Choose Your Biling Cycle</option>
                    <option value="monthly">Monthly</option>
                    <option value="3 months">3 Months Once</option>
                    <option value="yearly">Yearly</option>
                </select>
                </div>
                
            </div>
            <div class="form-group payment-method">
                <label for="paymentMethod">Payment Method</label>
                <select id="paymentMethod" name="paymentMethod" required {{on "input" this.updatePaymentMethod}}>
                    <option value="">Choose your Payment Method</option>
                    <option value="wallet">Wallet</option>
                    <option value="credit">Credit card</option>
                    <option value="debit">Debit card</option>
                    <option value="upi">UPI</option>
                </select>
            </div>
            <div class="form-group">
                
            </div>
            <div class="form-group subscription-group">
                <div>
                    <label for="subscriptionstartDate">Start Date</label>
                <input type="date" id="subscriptionstartDate" name="subscriptionstartDate" value={{this.subscriptionStartDate}} required {{on "input" this.updateSubscriptionStartDate}}>
                </div>
                <div>
                    <label for="subscriptionEndDate">End Date</label>
                <input type="date" id="subscriptionEndDate" name="subscriptionEndDate" value={{this.subscriptionEndDate}} required {{on "input" this.updateSubscriptionEndDate}}>
                </div>
            </div>
            <div class="edit-subscription-button">
                <button type="button" {{on "click" (fn this.updateSubscription this.subscriptionId)}}>Update</button>
            <button type="button" {{on "click" this.cancelEdit}}>Cancel</button>
            </div>
        </form>
        </div>
</div>    
{{/if}}

{{#if this.addSubscription}}
<div class="edit-subscription">
    <div class="edit-subscription-form" {{on-click-outside this.closeAddSubscription}}>
        <h1>Add Your Subscriptions</h1>
        <form action="">
            <div class="form-group subscription-group">
                <div>
                    <label for="subscriptionName">Subscription Name : </label>
                <input type="text" id="subscriptionName" name="subscriptionName" required {{on "input" this.updateSubscriptionName}}>
                </div>

                <div>
                    <label for="subscriptionPrice">Subscription Price</label>
                <input type="number" id="subscriptionPrice" name="subscriptionPrice" required {{on "input" this.updateSubscriptionPrice}}>
                </div>
            </div>
            
            <div class="form-group subscription-group">
                <div>
                    <label for="subscriptionPlan">Subscription Plan</label>
                <select id="subscriptionPlan" name="subscriptionPlan" required {{on "input" this.updateSubscriptionPlan}}>
                    <option value="">Choose your Plan</option>
                    <option value="basic">Basic</option>
                    <option value="pro">Pro</option>
                    <option value="pro +">Pro +</option>
                </select>
                </div>
                <div>
                    <label for="billingCycle">Billing Cycle</label>
                <select id="billingCycle" name="billingCycle" required {{on "input" this.updateBillingCycle}}>
                    <option value="">Choose Your Biling Cycle</option>
                    <option value="monthly">Monthly</option>
                    <option value="3 months">3 Months Once</option>
                    <option value="yearly">Yearly</option>
                </select>
                </div>
            </div>
            
            <div class="form-group payment-method">
                <label for="paymentMethod">Payment Method</label>
                <select id="paymentMethod" name="paymentMethod" required {{on "input" this.updatePaymentMethod}}>
                    <option value="">Choose your Payment Method</option>
                    <option value="wallet">Wallet</option>
                    <option value="credit">Credit card</option>
                    <option value="debit">Debit card</option>
                    <option value="upi">UPI</option>
                </select>
            </div>
            <div class="form-group subscription-group">
                <div>
                    <label for="subscriptionstartDate">Start Date</label>
                <input type="date" id="subscriptionstartDate" name="subscriptionstartDate" required {{on "input" this.updateSubscriptionStartDate}}>
                </div>
                <div>
                    <label for="subscriptionEndDate">End Date</label>
                <input type="date" id="subscriptionEndDate" name="subscriptionEndDate" required {{on "input" this.updateSubscriptionEndDate}}>
                </div>
            </div>
            <div class="form-group">
                
            </div>
            <div class="edit-subscription-button">
                <button type="button" {{on "click" this.submitForm}}>Submit</button>
                <button type="button" {{on "click" this.closeAddSubscription}}>Cancel</button>
            </div>
        </form>
    </div>
    </div>
{{/if}}