{{page-title "Wallet"}}
<div class="wallet-design">
    <div class="designer-line">
        <h1>Wallet</h1>
</div>
</div>
<div class="wallet-page">
    <div class="wallet-left">
        <div class="balance-cards">
            <div class="balance-card">
            <div class="balance-card-top">
                <h3>Available balance</h3>
                <button type="button" {{on "click" this.addMoney}}>Add Money</button>
            </div>
            <h1>${{this.amount}}</h1>
        </div>

        <div class="balance-card">
            <div class="balance-card-top">
                <h3>Total Money Crdited</h3>
            </div>
            <h1>$1234</h1>
        </div>
        </div>
    </div>
<div class="wallet-right">
     {{#if this.addMoneyClicked}} 
        <form>
        <div class="add-money">
            <h3>Add Money</h3>
            <div class="amount-input">
                <label for="amount">Amount:</label>
            <input type="number" id="amount" placeholder="Enter amount" {{on "input" this.updateAmount}}/>
            </div>
            <button type="button" {{on "click" this.submitAmount}}>Add Money</button>
            {{!-- <div class="payment-select">
                <label for="payment-type">Payment Type:</label>
            <select id="payment-type" {{on "change" this.updatePaymentType}}>
                <option value="credit">Credit Card</option>
                <option value="debit">Debit Card</option>
                <option value="upi">UPI</option>
            </select>
            </div> --}}
        </div>
    </form>
     {{/if}} 
    

    </div>
</div>